/* Contact Page Shortcode Layout */
.branch{
    &__wrapper{
        margin-top: 2em;
        margin-bottom: 2em;
        h3{
            margin-bottom: .8em;
            text-transform: uppercase;
            font-weight: 400;
            position: relative;
            &::after{
                content: "";
                width: 3%;
                border-bottom: 2px solid var(--goldColor);
                display: block;
                margin-top: 5px;
                position: absolute;
            }
        }
    }
    &__offices{
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li{
                list-style: none;
                margin-bottom: 1em;
                margin-right: 1em;
            }
        }
        &--a{
            padding: .5em;
            background-color: var(--mainBgColor);
            border: 1px solid var(--goldColor);
            border-bottom: 5px solid var(--goldColor);
            width: 280px;
            max-width: 100%;
            height: 150px;
            max-height: 200px;
            h4{
                margin-bottom: 5px;
                font-size: 1.1em;
                font-weight: 500;
            }
            p{
                line-height: 1.5;
                color: var(--textColor);
            }
        }
    }

}
/* End Contact Page Shortcode Layout */
